html, body {
	--unit: 32px;
	--mapX: 64px;
	--mapY: 64px;
	font-family: sans-serif;
	user-select: none;
	-moz-user-select: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	background-color: rgb(255, 255, 255);
}
* {
	margin: 0;
	padding: 0;
}
canvas {
	position: absolute;
	top: calc(50% - var(--mapY) / 2);
	left: calc(50% - var(--mapX) / 2);
}
#Canvas {
	z-index: 0;
	background-color: rgb(160, 160, 160);
}
#AntCanvas {z-index: 1;}
#FrontCanvas {z-index: 2;}
#InGame {z-index: 3;}
#Opacity {z-index: 4;}
#Pause {
	z-index: 5;
	transition-duration: 0.25s;
}
#Menu {z-index: 6;}
#Levels {z-index: 7;}
.close:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
#Blocker {
	position: absolute;
	right: 0;
	z-index: 5;
	background-color: rgb(255, 255, 255);
	width: calc((100% - var(--mapX) )/ 2);
	height: 100%;
}